html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

button {
    padding: 0;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

img {
    display: inline-block;
    vertical-align: top;
}

body {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    line-height: 1.2;
    font-size: 14px;
    color: #000;
}

.container {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    background-color: #FFF8F3;
}
.header__inner {
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    gap: 20px;
}
.menu__list-link {
    text-transform: uppercase;
}
.menu__btn {
    display: none;
}

.phone {
    position: relative;
}
.phone::before {
    content: '';
    width: 20px; 
    height: 20px;
    background-image: url('../images/phone.svg');
    background-size: cover;
    position: absolute;
    top: -3px;
    left: -23px;
}

.title {
    margin-bottom: 15px;
    font-family: "Yeseva One", cursive;
    font-weight: 400;
    font-size: 40px;
}

.button {
    padding: 1.28em 3.21em;
    font-weight: 600;
    color: #272727;
    background-color: #FFBD59;
}


.main {
    background-color: #FFF8F3;
    overflow-x: clip;
}

.top {
    padding: 40px 0 150px;
}
.top__inner {
    position: relative;
}
.top__content {
    padding: 150px 0 250px;
    max-width: 370px;
    position: relative;
    z-index: 2;
}
.top__title {
    margin-bottom: 15px;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 30px;
}
.top__text {
    margin-bottom: 30px;
}
.top__buy {
    padding: 1.28em 3.85em;
    font-weight: 600;
    color: #272727;
    background-color: #FFBD59;
}
.top__img {
    position: absolute;
    top: 0;
    left: 240px;
    z-index: 1;
}

.section {
    padding-bottom: 150px;
}
.section--decor {
    position: relative;
}
.section--decor::before {
    content: '';
    width: 22px;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url('../images/section-decor.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.section--decor::after {
    content: '';
    width: 1000%;
    height: 1px;
    position: absolute;
    left: 22px;
    bottom: 12px;
    background-color: #7b6152;
}
.section__inner {
    display: grid;
    grid-template-columns: 370px auto;
}
.section__content {
    padding-bottom: 83px;
    display: grid;
    grid-template-columns: auto auto;
}

.about {
    margin-bottom: 150px;
    padding: 50px 0;
    color: #fafafa;
    background-color: #a5978e;
}
.about__inner {
    display: flex;
    align-items: center;
}
.about__content {
    min-width: 370px;
}
.about__title {
    margin-bottom: 15px;
}
.about__text {
    margin-bottom: 15px;
}
.about__list {
    padding-left: 110px;
    padding-bottom: 48px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
.about__item-img {
    display: inline-block;
    margin-bottom: 10px;
}
.about__item-text {
    font-size: 11px;
}

.products__content {
    gap: 50px 90px;
}
.products__item {
    margin: 0 auto;
    max-width: 290px;
    text-align: center;
}
.products__item-img {
    margin-bottom: 8px;
}
.products__item-price {
    margin-bottom: 0.75em;
    font-size: 16px;
}
.products__item-price::after {
    content: '$';
}
.products__item-title {
    margin-bottom: 1em;
    font-size: 16px;
}
.products__item-title::before,
.products__item-title::after {
    content: '"';
}
.products__item-text {
    margin-bottom: 2.25em;
    font-size: 12px;
}

.steps__list {
    gap: 70px 25px;
    counter-reset: number;
}
.steps__item {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    list-style-type: none;
    position: relative;
}
.steps__item::before {
    content: '0' counter(number);
    counter-increment: number;
    font-family: "Yeseva One", cursive;
    font-size: 40px;
    color: #bea495;
    position: absolute;
    bottom: 0;
    left: 0;
}
.steps__item:nth-child(n+10):before {
    content: counter(number);
}
.steps__item.steps__item--even::before {
    left: auto;
    right: 0;
}
.steps__item-text {
    padding-bottom: 50px;
    flex-basis: 174px;
}

.courses__item-img {
    position: relative;
    font-family: "Yeseva One", cursive;
    font-size: 11px;
    color: #fff;
}
.courses__title {
    padding: 1.36em;
    background-color: #bea495;
    position: absolute;
    top: 45%;
    left: 10px;
}
.courses__time {
    padding: 0.63em 0.90em;
    background-color: #bea495;
    position: absolute;
    top: 60%;
    left: 10px;
}
.courses__time span {
    font-family: "Comfortaa", cursive;
    font-size: 10px;
}
.courses__price {
    padding: 1.72em 0.90em;
    background-color: #bea495;
    position: absolute;
    right: 0;
    bottom: 2px;
}

.team {
    margin-bottom: 150px;
    padding: 80px 0 60px;
    color: #fff;
    background-color: #a5978e;
}
.team__content {
    padding-bottom: 0;
    gap: 75px;
}
.team__item {
    position: relative;
}
.team__item-box {
    padding: 14px 9px;
    max-width: 160px;
    text-align: center;
    background-color: #7b6152;
    position: absolute;
    right: 33px;
    bottom: 10px;
    z-index: 4;
}
.team__item-neme {
    margin-bottom: 3px;
    font-family: "Yeseva One", cursive;
    font-size: 12px;
}
.team__item-descr {
    font-size: 10px;
}

.feedback__descr {
    margin-right: 20px;
}
.feedback__content {
    padding-bottom: 110px;
}
.feedback__slider {
    width: 760px;
    overflow: hidden;
}
.feedback__item {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 0 16px;
}
.feedback__item-video {
    position: relative;
}
.feedback__item-videobtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.feedback__item-content {
    padding-bottom: 70px;
}
.feedback__item-sociallink {
    margin-bottom: 12px;
}
.feedback__item-name {
    margin-bottom: 15px;
    font-family: "Yeseva One", cursive;
    font-size: 16px;
}
.feedback__item-text {
    margin-bottom: 15px;
}
.feedback__item-btn {
    position: absolute;
    bottom: 10px;
    right: 0;
}
.feedback__content .swiper-pagination {
    bottom: 50px;
}

.certificates__descr {
    margin-right: 20px;
}
.certificates__content {
    padding-bottom: 114px;
}
.certificates__slider {
    width: 880px;
    overflow: hidden;
}
.certificates__content .swiper-pagination {
    bottom: 60px;
    /* text-align: left; */
}

.swiper-pagination-bullet {
    width: 53px;
    height: 4px;
    background-color: #bea495;
    border-radius: 0;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #7b6152;
}

.accordeon__item {
    margin-bottom: 10px;
    background-color: #fff;
}
.accordeon__title {
    padding: 16px 50px 16px 13px;
    display: block;
    width: 100%;
    font-family: "Yeseva One", cursive;
    font-size: 16px;
    text-align: start;
    position: relative;
}
.accordeon__title::after {
    content: '';
    background-image: url('../images/arrow.svg');
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 17px;
    right: 26px;
    transition: transform .3s;
}
.accordeon__title.accordeon__title--active::after {
    transform: rotate(180deg);
}
.accordeon__text {
    max-height: 0;
    opacity: 0;
    transition: .3s;
}
.accordeon__text.accordeon__text--visible {
    opacity: 1;
}
.accordeon__text ol {
    padding: 0px 16px 40px 30px;
}

.promo {
    padding: 140px 0;
    background-color: #999;
    background-image: url('../images/promo-baner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.promo__inner {
    display: flex;
    align-items: center;
}
.promo__text {
    margin-right: 110px;
    padding-left: 56px;
    max-width: 766px;
    font-family: "Yeseva One", cursive;
    font-size: 40px;
    color: #fff;
}
.promo__link {
    display: inline-block;
    padding: 1.21em 3.21em 0.85em; 
    font-size: 14px;
    text-align: center;
    background-color: #FFBD59;
    color: #272727;
}

.contacts {
    padding: 150px 0 50px;
}
.contacts__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.form {
    padding: 75px 42px 67px;
    max-width: 664px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 11px 0px rgba(199, 175, 165, 0.30);
}
.form__title {
    margin-bottom: 1.25em;
    font-family: "Yeseva One", cursive;
    font-size: 40px;
}
.form__input {
    padding: 23px 7px 11px;
    display: inline-block;
    width: 100%;
    font-family: inherit;
    font-size: 14px;
    color: #000;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    transition: .3s;
}
.form__input::placeholder {
    color: #b3b3b3;
    font-family: inherit;
    font-size: inherit;
}
.form__input:focus {
    outline: none;
    border-bottom: 1px solid #FFBD59;
}
.form__btn {
    margin-top: 3.571428em; 
    padding: 1.21428em 2.4285em;
    display: inline-block;
    font-size: 14px;
    background-color: #FFBD59;
    color: #272727;
}

.footer {
    padding-top: 35px;
    padding-bottom: 40px;
}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__contacts {
    width: 230px;
    display: flex;
    flex-direction: column;
}

.email {
    margin: 17px 0;
}

.footer__social {
    display: flex;
    gap: 15px;
}

@media(max-width: 1170px){
    .feedback__inner {
        grid-template-columns: 260px auto;
    }
    .feedback__slider {
        width: 690px;
    }

    .certificates__content img {
        width: 280px;
    }
    .certificates__slider {
        width: 650px;
    }
}
@media(max-width: 1050px){
    .steps__list {
        gap: 35px;
    }
    .steps__item {
        gap: 30px;
    }
    .steps__item-img {
        width: 128px;
        object-fit: cover;
    }

    .team__content {
        gap: 30px 20px;
    }
    .team__item-box {
        right: 0;
    }
}
@media(max-width: 1000px){
    .top__content {
        padding: 95px 0 70px;
        max-width: 333px;
    }
    .top__text {
        margin-bottom: 20px;
    }
    .top__img {
        left: 300px;
    }
    .top__img-l {
        width: 655px;
    }

    .about__content {
        min-width: 300px;
    }
    .about__list {
        padding-left: 20px;
    }

    .section__inner {
        grid-template-columns: 290px auto;
        gap: 0 10px;
    }
    .section__text {
        font-size: 10px;
    }

    .products__content {
        gap: 67px;
    }

    .team {
        margin-bottom: 50px;
        padding: 50px 0;
    }
    .team__content {
        margin-bottom: 0;
    }

    .feedback__inner {
        grid-template-columns: 260px auto;
    }
    .feedback__slider {
        width: 570px;
    }
    .feedback__item-video,
    .feedback__item-img {
        width: 300px;
    }

    .promo__inner {
        justify-content: space-between;
        gap: 10px;
    }
    .promo__text {
        margin-right: 0;
        padding-left: 0;
        max-width: 555px;
    }

    .contacts__img {
        max-width: 335px;
        object-fit: cover;
    }

    .form {
        padding: 75px 21px;
        max-width: 592px;
    }
}
@media(max-width: 930px){
    .section__inner {
        grid-template-columns: 200px auto;
    }
    
    .products__content {
        gap: 30px 16px;
    }
    
    .steps__title {
        font-size: 15px;
    }
    .steps__list {
        gap: 37px 35px;
    }
    .steps__item {
        gap: 20px;
    }
    .steps__item::before {
        font-size: 20px;
    }
    .steps__item-img {
        width: 85px;
    }
    .steps__item-text {
        font-size: 8px;
    }
    
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__contacts {
        padding-top: 15px;
        width: 100%;
        text-align: center;
    }
    .footer__social {
        justify-content: center;
    }
    
    .certificates__inner {
        grid-template-columns: 260px auto;
    }
    .certificates__content img {
        width: 200px;
    }
    .certificates__slider {
        width: 420px;
        margin: 0 auto;
    }
}
@media(max-width: 820px){
    .feedback__slider {
        width: 440px;
    }
    .feedback__item-video,
    .feedback__item-img {
        width: 200px;
    }
    .feedback__item-text {
        font-size: 10px;
    }
    .feedback__item-btn {
        font-size: 8px;
    }
}
@media(max-width: 768px){
    .container {
        max-width: 680px;
    }

    body {
        font-size: 10px;
    }

    .phone::before {
        width: 14px; 
        height: 14px;
        top: -2px;
        left: -16px;
    }

    .title {
        font-size: 15px;
    }

    .button {
        font-size: 12px;
    }

    .top__content {
        max-width: 230px;
    }
    .top__title {
        font-size: 20px;
    }
    .top__img {
        left: 200px;
    }

    .about__content {
        min-width: 200px;
    }
    .about__list {
        margin-left: 18px;
        margin-bottom: 33px;
        gap: 10px;
    }
    .about__item-img {
        margin-bottom: 6px;
        max-width: 120px;
    }
    .about__item-img--big {
        max-width: 191px;
    }
    .about__item-text {
        font-size: 6px;
    }

    .products__item,
    .products__item-img {
        max-width: 200px;
    }
    .products__item-price,
    .products__item-title {
        font-size: 12px;
    }
    .products__item-text {
        font-size: 8px;
    }

    .courses__item-img {
        font-size: 8px;
    }
    .courses__title,
    .courses__time {
        left: 0;
    }

    .team__img {
        width: 143px;
    }
    .team__item-box {
        padding: 10px 6px;
        max-width: 98px;
        right: 0;
        bottom: 8px;
    }
    .team__item-neme {
        font-size: 8px;
    }
    .team__item-descr {
        font-size: 6px;
    }

    .feedback__item-btn {
        font-size: 8px;
    }

    .swiper-pagination-bullet {
        width: 28px;
    }

    .promo {
        padding: 67px 0;
    }
    .promo__text {
        max-width: 270px;
        font-size: 15px;
    }
    .promo__link {
        font-size: 12px;
    }

    .contacts__img {
        max-width: 187px;
    }
    .form {
        padding: 30px 20px;
    }
    .form__title {
        font-size: 15px;
    }
    .form__btn {
        margin-top: 2.1428em;
    }
}
@media(max-width: 640px){
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__menu {
        order: 1;
    }
    .header__menu-list {
        padding: 25px 35px 25px 45px;
        width: 153px;
        color: #FFF8F3;
        background-color: #7B6152;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        transform: translateY(-120%);
        transition: .4s ease;
    }
    .header__menu-list.menu--open {
        transform: translateY(0%);
    }
    .menu__btn {
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu__btn span {
        width: 100%;
        height: 1px;
        background-color: #7B6152;
    }

    .about {
        margin-bottom: 50px;
    }

    .section {
        padding-bottom: 50px;
    }
    .section__inner {
        display: block;
    }
    .section__descr {
        margin: 0 auto 30px;
        max-width: 300px;
        text-align: center;
    }
    .section__content {
        padding-bottom: 62px;
    }

    .team__item-box {
        right: initial;
        left: 37%;
    }

    .feedback__slider {
        margin: 0 auto;
    }

    .certificates__content {
        grid-template-columns: auto;
    }
    .certificates__content .swiper-pagination {
        bottom: 30px;
    }
}
@media(max-width: 500px){
    .contacts {
        padding: 50px 0;
    }
    .contacts__img {
        display: none;
    }
    
    .form__input {
        font-size: 8px;
    }
    .form__btn {
        font-size: 8px;
    }

    .footer {
        padding: 50px 0;
        font-size: 14px;
    }
    .footer__inner {
        flex-direction: column;
    }
    .footer__menu {
        padding: 50px 0 35px;
        text-align: center;
    }
    .footer__menu-list {
        flex-direction: column;
    }
}
@media(max-width: 480px){
    .button {
        font-size: 8px;
    }

    .top {
        padding: 30px 0 50px;
    }
    .top__content {
        max-width: 180px;
    }
    .top__title {
        font-size: 15px;
    }
    .top__text {
        font-size: 8px;
    }
    .top__buy {
        padding: 1.4em 4.1em;
    }
    .top__img {
        left: 167px;
    }
    .top__img img {
        max-width: 308px;
    }

    .about__inner {
        align-items: flex-end;
    }
    .about__content {
        min-width: 170px;
    }
    .about__list {
        margin-left: 0;
        margin-bottom: 0;
        padding-left: 10px;
        align-items: flex-end;
        gap: 5px;
    }
    .about__item-text {
        display: none;
    }
    .about__item-img {
        margin-bottom: 0;
        max-width: 80px;
    }
    .about__item-img--big {
        max-width: 140px;
    }

    .products__item, 
    .products__item-img {
        max-width: 150px;
    }
    .products__item-price,
    .products__item-title {
        font-size: 10px;
    }

    .steps__list {
        gap: 25px 40px;
    }
    .steps__item {
        gap: 20px;
    }

    .feedback__slider {
        width: 100%;
    }
    .feedback__item {
        grid-template-columns: auto;
        justify-items: center;
        gap: 10px;
    }
    .feedback__item-content {
        text-align: center;
    }
    .feedback__item-btn {
        right: auto;
        left: 50%;
        transform: translate(-50%);
    }

    .certificates__slider {
        width: 200px;
    }

    .promo {
        padding: 42px 0;
    }
    .promo__text {
        max-width: 210px;
    }
    .promo__link {
        font-size: 8px;
    }

}
@media(max-width: 400px){
    body {
        font-size: 8px;
    }

    .title {
        margin-bottom: 10px;
    }

    .top__content {
        padding: 20px 0 0;
    }
    .top__img img {
        max-width: 180px;
    }
    .top__img {
        left: auto;
        right: 0;
    }

    .about {
        padding: 25px 0 10px;
    }
    .about__content {
        min-width: 233px;
    }
    .about__list {
        margin-left: 10px;
        padding-left: 10px;
        padding-bottom: 32px;
        gap: 15px;
    }
    .about__item:not(:first-child) .about__item-img {
        display: none;
    }

    .section__descr {
        margin: 0 auto 25px;
        max-width: 235px;
    }

    .steps__list {
        gap: 24px 20px;
    }
    .steps__item::before {
        font-size: 12px;
    }
    .steps__item {
        gap: 15px;
    }
    .steps__item-img {
        width: 66px;
    }
    .steps__item-text {
        font-size: 6px;
    }

    .courses__content {
        grid-template-columns: auto;
    }

    .team__content {
        grid-template-columns: auto;
    }
    .team__img {
        width: 204px;
    }
    .team__item-box {
        left: 45%;
    }
}